/*Menu*/

.menu-desktop {
    padding-top: 20rem;
}

.menu-desktop ul {
	font-size: 4rem;
}

/*First section*/

.first-section > p {
    font-size: 8rem;
}

.first-section div article, .first-section article  {
    font-size: 3rem;
}

.first-section article hr {
	border-width: 0.5rem;
}


/*Second section*/


.second-section {
    margin: 0% 20%;
    padding-top: 15rem;
    padding-bottom: 20rem;
    transform: scale(1.5);
}

/*Third section*/


.third-section article {
	font-size: 6rem;
}

.third-section article hr {
	border-width: 0.6rem;
}

.third-section .third-section--other-skills div {
    padding: 3%;
}

.third-section .third-section--other-skills div img {
    transform: scale(1.1);
}

/*Fourth section*/

.fourth-section--description {
	margin: 25% 20%;
}

.fourth-section--description p {
	font-size: 4rem;
}


.fourth-section--description hr {
    border-width: 0.7rem;
}


.fourth-section > p {
	font-size: 5rem;
}

.fourth-section > .final {
	margin-bottom: 20rem;
}