
@import url('../config/config.css');
@import url('../config/menu-mobile.css');

/*Menu*/

.menu-desktop {
	display: none;
}


/*Profile*/


body {
    background: linear-gradient(0deg, var(--cherry-red) 16.69%, var(--soft-black) 100%);
    height: auto;
}

.first-section > img {
	width: 40vw;
	height: 40vw;
	display: block;
	margin-top: 7rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}


.first-section div {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
	align-items: center;
}


.first-section article {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 2%;
	border-radius: 4px;
	width: 45vw;
	height: auto
}

.first-section article p {
    color: var(--off-white);
	font-size: 1.3rem;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}


.first-section div, .first-section article {
	-webkit-animation: loadProfile 1.4s ease-in-out alternate;
}

/*Second section*/

.second-section {
	margin: 0% 10%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.second-section ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
}

.second-section li {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--off-white);
	font-size: medium;
	font-weight: bold;
}

.second-section img {
	transform: scale(0.5);
}

/*Third section*/


.third-section article {
	color: var(--off-white);
	font-size: 2.8rem;
	padding-left: 2%;
	text-align: center;
	padding-top: 10rem;
	padding-right: 2%;
}

.third-section article hr {
    margin: 0.5rem 17%;
	margin-bottom: 3rem;
	border-style: solid;
	border-width: 0.3rem;
    border-color: var(--just-black);
	opacity: 70%;
}

.third-section .third-section--other-skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.third-section .third-section--other-skills div {
	height: auto;
	max-width: 250px;
	background: transparent;
	opacity: 90%;
	margin: 2rem 10%;
	padding: 6%;
	color: var(--off-white);
	display: flex;
	align-items: center;
}

.third-section--other-skills div img {
	width: 40%;
}

.third-section--other-skills div p {
	color: var(--off-white);
	font-size: 2.5rem;
	margin: 5%;
	text-align: center;
}


/*Fourth section*/

.fourth-section--description {
	text-align: center;
	margin: 25% 10%;
}

.fourth-section--description p {
	color: var(--off-white);
	margin: 3%;
	font-size: 1.45rem;
}

.fourth-section--description hr {
	border-color: var(--just-black);
	margin: 1rem 0rem;
    border-style: solid;
    border-width: 0.3rem;
	opacity: 50%;
}


.fourth-section > p {
	color: var(--off-white);
	text-align: center;
	font-size: x-large;
	margin: 0 6%;
}

.fourth-section > .final {
	margin: 3rem 0;
}



/*Animations*/


@keyframes loadProfile {
	
	0% {
		opacity: 0;	
		transform: translateY(30px);
	}

	100% {
		opacity: 100%;
		transform: translateY(-2px);
	}
}
