/*Menu*/
@import url('../config/menu-desktop.css');


.menu-mobile {
    display: none;
}


/*first section*/


.first-section article p {
    font-size: medium;
}

.first-section article {
    height: 300px;
}

/*Second section*/

.second-section ul {
    width: 90%;
    margin: 5%;
    grid-template-columns: 30vw 30vw;
}


.second-section li {
	font-size: large;
}

.second-section img {
	transform: scale(2.5);
    margin-right: 30px;
}

/*Third section*/

.third-section article {
	font-size: 4rem;
}

.third-section article hr {
    margin: 1rem 21%;
	border-width: 0.4rem;
    margin-bottom: 10rem;
}


.third-section .third-section--other-skills {
	justify-content: center;
	grid-template-columns: 30vw 30vw;
}

.third-section--other-skills div img {
	transform: scale(2.5);
}

.third-section--other-skills div p {
	font-size: x-large;
}

/*Fourth section*/


.fourth-section--description {
	margin: 25% 20%;
}

.fourth-section--description p {
	font-size: 2rem;
}


.fourth-section--description hr {
    border-width: 0.4rem;
}


.fourth-section > p {
	font-size: xx-large;
}

.fourth-section > .final {
	margin-bottom: 5rem;
}