/*Menu*/

.menu-mobile {
    display: none;
}

.menu-desktop {
    padding-top: 10rem;
    display: block;
    background-color: var(--black);
}

.menu-desktop ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size: 2.6rem;
	list-style: none;
}


.menu-desktop li {
	padding: 3%;
}

.menu-desktop li a:hover {
	color: var(--saturate-pink);
}

.menu-desktop li a {
	text-decoration: none;
	color: var(--off-white)
}


/*first section*/


.first-section > p {
    font-size: 6rem;
    margin-bottom: 10rem;
}


.first-section div article, .first-section article  {
    font-size: 2rem;
}

.first-section article hr {
	border-width: 0.3rem;
}



/*Second section*/


.second-section div > article {
	padding: 6%;    
    max-width: 260px;
}


/*Third section*/

.third-section article {
	font-size: 4rem;
    margin-top: 10rem;
}

.third-section article hr {
    margin: 1rem 21%;
	border-width: 0.4rem;
    margin-bottom: 10rem;
}


.third-section .third-section--other-skills div {
	height: auto;
    margin: 2rem 3%;
	padding: 4%;
    transform: scale(1.1);
}

.third-section .third-section--other-skills div img {
    transform: scale(1.1);
}


/*Fourth section*/


.fourth-section--description {
	margin: 25% 20%;
}

.fourth-section--description p {
	font-size: 2rem;
}


.fourth-section--description hr {
    border-width: 0.4rem;
}


.fourth-section > p {
	font-size: xx-large;
}

.fourth-section > .final {
	margin-bottom: 5rem;
}