/*Menu*/

.menu-desktop {
    padding-top: 2rem;
}

.menu-desktop ul {
	font-size: 4rem;
}


body > p {
    font-size: 6rem;
    margin: 3%;
}

.portfolio-description {
    margin: 8rem 30%;
    font-size: xx-large;
}


.portfolio-frontend {
    margin: 9rem 36%;
    font-size: 7rem;
}

/*Portfolio*/

section {
    margin: 0 15%;
}

section > article {
    width: 90%;
    height: 90%;
}

div > h3 {
    font-size: x-large;
    margin-bottom: 2rem;
}