
@import url('../config/config.css');
<<<<<<< HEAD
@import url('../config/menu-mobile.css');
=======

>>>>>>> 5b6126b527288f1dbc6050dc2c7111266ca32d3c


header {
	background-color: var(--black);
}

header video {
    zoom: 0.1;
	width: 100%;
}


/*Menu*/

.menu-desktop {
	display: none;
}

body {
	background: linear-gradient(0deg, var(--low-red) 16.69%, var(--deep-blue) 100%);
    color: var(--off-white);
}


body > p {
    font-size: x-large;
    text-align: center;
    margin: 3%;
    margin-top: 15rem;
}

.portfolio-description {
    margin: 9rem 10%;
    text-align: center;
    font-size: medium;
}

hr {
    border-style: solid;
    border-width: 0.2rem;
    opacity: 80%;
    margin-top: 1rem;
    border-radius: 10px;
}

.portfolio-description hr {
	border-width: 0.2rem;
    border-color: var(--ice-blue); 
}

.portfolio-frontend {
    margin: 9rem 10%;
    text-align: center;
    font-size: 4rem;
}

.portfolio-frontend hr {
	border-width: 0.2rem;
    border-color: var(--cold-water);
	margin: 0 10%;
}


/*Portfolio*/

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: 1%;
}

div > article {
	height: 40%;
	max-width: 320px;
	background: linear-gradient(135deg, var(--low-red) 16.69%, var(--cake-red) 100%);
	border-radius: 10px;
	opacity: 95%;
	margin: 1rem 10%;
	padding: 1%;
}

a > img:hover {
	transform: scale(1.05);
	opacity: 0.9;
	transition: all 200ms linear;
}

a > img {
    width: 90%;
	height: 90%;
	border-radius: 10px;
	margin: 5%;
	transform: scale(1);
	opacity: 0.9;
	transition: all 200ms linear;
}


div > article p:nth-child(1) {
    text-align: center;
    font-size: xx-large;
    padding: 5%;
}

div > article a + p {
    text-align: left;
    padding: 2%;
    font-size: small;
}
