@import url('../config/menu-desktop.css');

.menu-mobile {
    display: none;
}

body > p {
    font-size: 5rem;
    margin: 3%;
    margin-top: 20rem;
}

.portfolio-description {
    margin: 15rem 20%;
    font-size: x-large;
}


hr {
    border-width: 0.3rem;
}

.portfolio-frontend {
    margin: 9rem 20%;
    font-size: 6rem;
}

/*Portfolio*/


div > article {
	margin: 1rem 3%;
	padding: 1%;
}


div > article p:nth-child(1) {
    font-size: 4rem;
}

div > article a + p {
    padding: 3%;
    font-size: medium;
}