
/*Menu*/


.menu-desktop ul {
	font-size: 3rem;
}



/*Profile*/

.website-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-profile--mobile {
    display: none;
}

.website-profile--desktop {
    display: block;
    transform: scale(.9);
}


.website-profile--article p, .website-portfolio p {
    font-size: x-large;
}


/*Portfolio*/


.website-portfolio--high h2,.website-portfolio--high h3 {
    font-size: xx-large;
    margin-left: 3rem;
}

.website-portfolio > p {
    font-size: 3rem;
    margin-bottom: 10rem;
}

.website-portfolio--button {
    border-width: 0.6rem;
    font-size: 4rem;
}

div > img {
	transform: scale(2.5);
}


/*Posts*/

.website-posts--description {
    margin: 0 5%;
}


.website-posts--description hr {
    border-width: 0.4rem;
}


/*Contact*/


.website-contact > p {
    font-size: 4rem;
}

.website-contact--button {
    font-size: 5rem;
    border-width: 0.5rem;
}

.website-contact--logos article a img:hover {
    transform: scale(1.5);
}

.website-contact--logos article a {
	transform: scale(4);
}