
/*Menu*/


.menu-desktop ul {
	font-size: 4rem;
}



/*Profile*/

.website-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-profile--mobile {
    display: none;
}

.website-profile--desktop {
    display: block;
    height: 50%;
    width: 50%;
}


.website-profile .website-profile--article p {
    font-size: x-large;
}

.website-profile--article, .website-portfolio p {
    font-size: 2.6rem;
}



/*Portfolio*/


.website-portfolio--high {
    margin: 1rem 3%;
    padding: 1% 2% 5% 1%;
}

.website-portfolio--high p {
    font-size: xx-large;
}

.website-portfolio article:nth-last-child(3) {
    margin: 15rem 20rem;
}

.website-portfolio article:nth-last-child(3) p {
    font-size: 3.5rem;
}

.website-portfolio > p {
    font-size: 6rem;
    margin-bottom: 10rem;
}

.website-portfolio--button {
    border-width: 0.6rem;
    font-size: 4rem;
}



/*Posts*/

.website-posts--description {
    margin: 0 5%;
}

.website-posts--description p {
    font-size: 3.5rem;
}

.website-posts--description hr {
    border-width: 0.4rem;
}


/*Contact*/


.website-contact > p {
    font-size: 8rem;
}

.website-contact--button {
    font-size: 5rem;
    border-width: 0.5rem;
}

.twitter-image, .linkedin-image {
    margin-bottom: 0.2rem;
    transform: scale(1.2);
}

.github-image {
    transform: scale(0.4);
}

.website-contact--logos article a img:hover {
    transform: scale(1.5);
}

