
/*Menu*/


.menu-desktop ul {
	font-size: 4rem;
}



/*Profile*/

.website-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-profile--mobile {
    display: none;
}

.website-profile--desktop {
    display: block;
    height: 50%;
    width: 50%;
}


.website-profile .website-profile--article p {
    font-size: x-large;
}

.website-profile--article , .website-portfolio p {
    font-size: 2.6rem;
}

.website-portfolio--description1, .website-portfolio--description2 {
    margin: 15rem 20rem;
}


/*Portfolio*/


.website-portfolio--high {
    margin: 1rem 3%;
    padding: 1% 2% 5% 1%;
}

.website-portfolio--high p {
    font-size: xx-large;
}

.website-portfolio > p {
    font-size: 3rem;
    margin-bottom: 4rem;
}


.website-portfolio--button {
    font-size: xx-large;
}

.website-posts--description p {
    font-size: x-large;
}

.website-portfolio--description3 {
    margin: 15rem 20rem;
}

/*Contact*/


.website-contact > p {
    font-size: 4.6rem;
}

.website-contact--button {
    font-size: xx-large;
}

.twitter-image, .linkedin-image {
    margin-bottom: 0.2rem;
    transform: scale(1.2);
}

.github-image {
    transform: scale(0.4);
}

.website-contact--logos article a{
	font-size: xx-large;
}

.website-contact--logos article .github-button {
    font-size: 4rem;
}

.website-contact--logos article .linkedin-button {
	font-size: 2rem;
}