
:root {
	--stronger-blue: #0019EF;
    --cool-cyan: #019EFF;
	--dark-red: #9E1616;
    --saturate-pink: #FF00FC;
    --nice-lavanda: #B549FF;
	--black: #1C1C1C;
    --soft-black: #413F3F;
	--off-white:#FAFAFA;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'Nunito', sans-serif; 
	scroll-behavior: smooth;
}


/*
font-family: 'Inconsolata', monospace; LETRA SUAVE Y LINDA
font-family: 'Nunito', sans-serif; Letra ELEGANTE
*/

header {
	background-color: var(--black);
}

header video {
    zoom: 0.1;
	width: 100%;
}


/*Menu*/

.menu-desktop {
	display: none;
}

.menu-mobile {
	width: 100%;
	height: auto;
	position:fixed;
	top: 0;
	left: 0;
	transition: all .5s ease;
	z-index: 1;
}

.menu-mobile img {
	cursor: pointer;
	vertical-align: top;
	width: 15%;
	height: auto;
	margin: 1rem;
}

.menu-mobile ul {
	background-color: var(--black);
	padding: 10% 20% 2% 0%;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .5s ease;
	z-index: -1;
}

.menu-mobile li a, .menu-mobile p {
	text-decoration: none;
	padding: 6% 20%;
	margin: 3rem 0;
	color: var(--off-white);
	display: block;
	font-size: xx-large;
	cursor: pointer;
}


.menu-mobile li a:hover {
	color: var(--saturate-pink);
} 

.activate {
	transform: translate(-600px);
}

.opacity {
	background-color: var(--black);
	transition: .5s ease;
}

/*profile*/

.website-profile {
	background: linear-gradient(0deg, var(--dark-red) 16.69%, var(--soft-black) 100%);
	padding: 3%;
	padding-top: 4rem;
	text-align: center;
}

.website-profile--desktop {
	display: none;
}

.website-profile .website-profile--article {
	height: auto;
	background-color: var(--black);
	border-radius: 10px;
	opacity: 90%;
	margin: 5rem 15%;
	padding: 3% 2%;
}

.website-profile .website-profile--article p {
	color: var(--off-white);
	font-size: medium;
	margin: 2rem 3rem;
}


.website-profile > div,.website-profile--mobile, .website-profile--desktop {
	-webkit-animation: loadProfile 1.4s ease-in-out alternate;
}

/*portfolio*/

.website-portfolio {
	background: linear-gradient(0deg, var(--cool-cyan) 16.69%, var(--dark-red) 100%);
	padding: 3%;
	text-align: center;
}

.website-portfolio p {
	color: var(--off-white);
	font-size: 1.2rem;
	padding-left: 2%;
	padding-right: 2%;
}

.website-portfolio > article:nth-child(1) {
	text-align: left;
	margin: 20% 30% 30% 10%;
}

.website-portfolio > article:nth-child(2) {
	text-align: right;
	margin: 20% 10% 30% 30%;
}

.website-portfolio > article:nth-last-child(3) {
	text-align: center;
	margin: 5rem;
}

.website-portfolio > article:nth-child(1) hr, .website-portfolio > article:nth-child(2) hr, .website-portfolio > article:nth-last-child(3) hr {
	margin: 0.5rem 0rem;
	border-style: solid;
	border-radius: 10px;
	border-width: 0.2rem;
	opacity: 80%;
}

.website-portfolio > article:nth-child(1) hr, .website-portfolio > article:nth-child(2) hr {
	border-color: var(--black);
}

.website-portfolio > article:nth-last-child(3) hr {
	border-color: var(--nice-lavanda);
}



.website-portfolio--portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 8rem 0rem;
}

.website-portfolio--high {
	height: 40%;
	max-width: 520px;
	display: inline-block;
	background-color: var(--black);
	border-radius: 10px;
	opacity: 95%;
	margin: 1rem 10%;
	padding: 1% 2% 10% 1%;
}

.website-portfolio--high p {
	font-size: 3rem;
	margin-top: 1rem;
}

.website-portfolio--high img {
	width: 90%;
	height: 90%;
	border-style: solid;
	border-color: var(--soft-black);
	border-radius: 10px;
	margin: 5%;
}

.website-portfolio--high--button {
	position: relative;
	text-decoration: none;
	background: linear-gradient(0deg, var(--dark-red) 16.69%, var(--black) 100%);
	border-radius: 3px;
	font-family: 'Inconsolata', monospace;
	color: var(--off-white);
	font-size: medium;
	padding: 4%;
}

.website-portfolio--high--button:hover {
	transform: scale(1.2);
	transition: 200ms linear 100ms;
}


.website-portfolio > p {
	font-size: medium;
	margin-top: 6rem;
	margin-bottom: 4rem;
}

.website-portfolio--button {
	text-decoration: none;
	height: 80%;
	width: 80%;
	color: var(--off-white);
	font-size: large;
	padding: 2% 13% 2% 13%;
	border-radius: 4px;
	opacity: 95%;
	border-style: solid;
	border-color: var(--saturate-pink);
	border-width: 0.2rem;
	transition: all 200ms linear;
}

.website-portfolio--button:hover {
	background-color: var(--saturate-pink);
	transition: all 200ms linear;
}



/*Posts*/

.website-posts {
	height: auto;
	background: linear-gradient(0deg, var(--nice-lavanda) 16.69%, var(--cool-cyan) 100%);
}


.website-posts--description {
	color: var(--off-white);
	font-size: 1.2rem;
	padding: 20% 15% 3% 15%;
	text-align: center;
}

.website-posts--description p {
	padding-bottom: 2%;
}

.website-posts--description hr {
	border-style: solid;
	border-color: var(--stronger-blue);
	border-width: 0.2rem;
	border-radius: 5px;
	margin-bottom: 3rem;
	opacity: 60%;
}



/*Contact*/


.website-contact {
	height: auto;
	background: linear-gradient(0deg, var(--black) 16.69%, var(--nice-lavanda) 100%);
	text-align: center;
}

.website-contact > p {
	color: var(--off-white);
	font-size: 2.5rem;
	padding: 10% 0 10% 0%;
	margin-bottom: 3rem;
}

.website-contact--button {
	text-decoration: none;
	color: var(--off-white);
	font-size: large;
	border-style: solid;
	border-color: var(--stronger-blue);
	border-width: 0.2rem;
	border-radius: 4px;
	padding: 3%;
	opacity: 95%;
	transition: all 200ms linear;
}

.website-contact--button:hover {
	background-color: var(--stronger-blue);
	transition: all 200ms linear;
}


.website-contact--logos {
	margin-top: 7rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.website-contact--logos article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0rem 2%;
}

.twitter-image, .linkedin-image{
	width: 100%;
	height: 100%;
}

.github-image{
	width: 40%;
	height: 40%;
}

.website-contact--logos article a {
	text-decoration: none;
	font-size: medium;
}

.website-contact--logos article a img:hover {
	transform: scale(1.2);
}


/*Animations*/


@keyframes loadProfile {
	
	0% {
		margin-top: 6rem;
		opacity: 0;
	}

	100% {
		margin-top: 0rem;
		opacity: 100%;
	}
}
