
/*Menu*/


.menu-desktop ul {
	font-size: 4rem;
}


/*Profile*/



.website-profile .website-profile--article p {
    font-size: 2rem;
}

.website-profile--article , .website-portfolio p {
    font-size: 3rem;
}

.website-portfolio article:nth-child(1) hr, .website-portfolio article:nth-child(2) hr, .website-portfolio article:nth-last-child(3) hr
, .website-posts--description hr {
    border-width: 0.3rem;
    margin-bottom: 20rem;
    opacity: 100%;
}

.website-portfolio--description1, .website-portfolio--description2 {
    margin: 25rem 30rem;
}


/*Portfolio*/


.website-portfolio--high {
    margin: 1rem 3%;
    padding: 1% 2% 3% 1%;
}



.website-portfolio--high p {
    font-size: 3rem;
}

.website-portfolio--high--button {
    font-size: xx-large;
}

.website-portfolio > p {
    margin-bottom: 20rem;
}


.website-portfolio--button, .website-contact--button {
    font-size: 3rem;
    border-width: 0.5rem;
}

.website-posts--description {
    margin: 0 10%;
}

.website-posts--description p {
    font-size: 3rem;
}

.website-portfolio--description3 {
    margin: 15rem 20rem;
}

/*Contact*/



.website-contact--logos {
    margin-top: 20rem;
}

.twitter-image, .linkedin-image {
    width: 150%;
    height: 150%;
    margin-bottom: 2rem;
}

.github-image {
    transform: scale(0.6);
    
}


.website-contact--logos article {
	font-size: 6rem;
    margin: 0rem 10%;
}

.website-contact--logos article .linkedin-button {
	font-size: 2.5rem;
}