@import url('../config/menu-desktop.css');
/*Menu*/

.menu-mobile {
    display: none;
}

.menu-desktop {
    display: block;
    background-color: var(--soft-black);
}


/*Profile*/


.website-profile--mobile {
    transform: scale(1.3);
}

.website-profile > div .website-profile--article p, .website-portfolio p {
    font-size: 2rem;
}
    

/*Portfolio*/

.website-portfolio > article {
    margin-top: 10rem;
}

.website-portfolio--high {
    flex-direction: row;
    margin: 3rem;
}

.website-portfolio p {
	font-size: 2rem;
}


.website-portfolio--high h2 {
	font-size: x-large;
	font-weight: bold;
    margin-left: 1.1rem;
}

.website-portfolio--high h3 {
	font-size: large;
    margin-left: 1.1rem;
}

.website-portfolio--high div {
	margin-bottom: 2rem;
}

div > img {
	transform: scale(1.8);
}

.website-portfolio--high a {
    font-size: x-large;
}

.website-portfolio--button, .website-contact--button {
    font-size: x-large;
    border-width: 0.3rem;
}

.website-posts--description p {
    font-size: x-large;
}


/*Contact*/

.website-contact > p {
    font-size: 4rem;
    padding-top: 10rem;
    margin-bottom: 1rem;
}

.website-contact--logos {
    margin-top: 10rem;
}

.website-contact--logos article a {
	transform: scale(3.2);
}
