
.menu-desktop {
    display: block;
    background-color: transparent;
}

.menu-desktop ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size: 2.2rem;
	list-style: none;
}


.menu-desktop li {
	padding: 2%;
}

.menu-desktop li a:hover {
	color: var(--neo-green);
	transition: all 100ms ease-in;
} 

.menu-desktop li a {
	text-decoration: none;
	color: var(--extra-light-blue);
	transition: all 200ms ease-in;
}
