
@import url('../config/config.css');
<<<<<<< HEAD
@import url('../config/menu-mobile.css');
=======

>>>>>>> 5b6126b527288f1dbc6050dc2c7111266ca32d3c


/*Menu*/

.menu-desktop {
	display: none;
}

body {
	background: linear-gradient(0deg, var(--black) 16.69%, var(--club-penguin-blue) 100%);
    height: auto;
}


/*First section*/

.first-section p {
	color: var(--off-white);
	margin: 15% 10%;
	text-align: center;
	font-size: 1.2rem;
	-webkit-animation: loadProfile 1.4s ease-in-out alternate;
}

.first-section p:nth-child(1) {
	padding-top: 5rem;
}





/*Form*/

.form p {
	font-size: 3rem;
	text-align: center;
	color: var(--off-white);
	margin: 6rem 7%;
	margin-bottom: 3rem;
}


form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form input {
	margin: 3% 10%;
	padding: 2%;
	border-style: solid;
	border-color: var(--ice-blue);
	opacity: 0.8;
	border-width: 0.2rem;
	background-color: transparent;
	font-size: 1.5rem;
	color: var(--off-white);
}

form input::placeholder, form #contact--message::placeholder {
	position: absolute;
	color: #dbdbdb;
}

form input p {
	position: absolute;
	text-align: left;
}



form #contact--message {
	height: 200px;
	margin-bottom: 8rem;
	margin: 3% 10%;
	padding: 2%;
	border-style: solid;
	border-color: var(--ice-blue);
	opacity: 0.8;
	border-width: 0.2rem;
	background-color: transparent;
	font-size: 1.5rem;
	font-family: 'Nunito', sans-serif;
	color: var(--off-white);
}


form button {
	margin: 5% 30%;
	padding: 4%;
	background-color: var(--ice-blue);
	color: var(--off-white);
	border-style: none;
}

form button:hover {
	transform: scale(1.2);
	transition: ease-in 200ms;
}

/*Footer*/



footer {
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer article {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1% 2%;
}

footer article:hover {
	transform: scale(1.05);
	opacity: 0.9;
	transition: all 200ms linear;
}

.twitter-image, .linkedin-image{
	width: 100%;
	height: 100%;
}

.github-image{
	width: 100%;
	height: 100%;
	padding: 0 35%;
}

footer article a img:hover {
	transform: scale(1.1);
}


/*Animations*/


@keyframes loadProfile {
	
	0% {
		transform: translateY(0.6rem);
		opacity: 0;
	}

	100% {
		transform: translateY(-0.5rem);
		opacity: 100%;
	}
}
