/*Menu*/

.menu-desktop {
    padding-top: 2rem;
}

.menu-desktop ul {
	font-size: 4rem;
}



/*Section*/

div {
    margin-top: 0rem;
    margin-bottom: 0rem;
    justify-content: space-evenly;
    padding: 0 2%;
}


/*First section*/



.first-section p {
	font-size: 3.5rem;
}



/*Form*/


.form p {
	font-size: 3rem;
	margin: 1rem 2%;
}


form input, form #contact--message {
	font-size: x-large;
}


form button {
    font-size: 2rem;
	margin: 0% 20%;
}


a img {
    transform: scale(6);
}

a img:hover {
    transform: scale(7);
}
