/*Menu*/

.menu-mobile {
    display: none;
}

.menu-desktop {
    padding-top: 10rem;
    display: block;
    background-color: var(--lavanda);
}

.menu-desktop ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size: 3rem;
	list-style: none;
}


.menu-desktop li {
	padding: 3%;
}

.menu-desktop li a:hover {
	color: var(--saturate-pink);
}

.menu-desktop li a {
	text-decoration: none;
	color: var(--off-white)
}


/*First section*/

.first-section p {
	margin: 10% 20%;
	font-size: 2.4rem;
}

.first-section p:nth-child(1) {
	padding-top: 5rem;
}



/*Form*/

.form p {
	font-size: 5rem;
	margin: 15rem 7%;
	margin-bottom: 8rem;
}


form input, form #contact--message {
	margin: 3% 15%;
	font-size: x-large;
}


form #contact--message {
	height: 300px;
	margin: 3% 15%;
}

form button {
	margin: 5% 35%;
	padding: 3%;
    font-size: 2rem;
	background-color: var(--soft-black);
	color: var(--off-white);
	border-style: none;
}



/*Footer*/


footer {
	margin-top: 6rem;
}

.twitter-image, .linkedin-image{
	width: 120%;
	height: 120%;
}

.github-image{
	padding: 0 39%;
}


footer article a img:hover {
	transform: scale(0.9);
}
