
/*Menu*/


.menu-desktop ul {
	font-size: 4rem;
}


/*First section*/

.first-section article p {
    font-size: x-large;
}


/*Second section*/

.second-section ul {
    grid-template-columns: 35vw 25vw;
    height: auto;
}

.second-section li {
	font-size: xx-large;
    justify-content: left;
    padding: 5%;
}

.second-section img {
	transform: scale(4);
    margin-right: 50px;
}


/*Third section*/



.third-section article {
	font-size: 8rem;
}

.third-section .third-section--other-skills {
    padding: 3%;
    justify-content: center;
	grid-template-columns: 25vw 25vw;
}

.third-section .third-section--other-skills div img {
    transform: scale(5);
    margin-right: 50px;
}   


.third-section--other-skills div p {
	font-size: xx-large;
}



/*Fourth section*/

.fourth-section--description {
	margin: 10% 20%;
}

.fourth-section--description p {
	font-size: 3rem;
}

.fourth-section > p {
	font-size: 4rem;
    margin-top: 10rem;
}