
@import url('../config/config.css');
@import url('../config/menu-mobile.css');


header {
	background-color: var(--black);
}


/*Menu*/

.menu-desktop {
	display: none;
}

body {
	background-color: var(--soft-black);
    color: var(--off-white);
}


body > p {
    font-size: x-large;
    text-align: center;
    margin: 3%;
    margin-top: 5rem;
}

.portfolio-description {
    margin: 9rem 6%;
    text-align: center;
    font-size: medium;
}

hr {
    border-style: solid;
    border-width: 0.2rem;
    margin-top: 1rem;
    border-color: var(--off-white); 
}


.portfolio-frontend {
    margin: 9rem 10%;
    text-align: center;
    font-size: 4rem;
}

.portfolio-frontend hr {
	border-width: 0.2rem;
    border-color: var(--cold-water);
	margin: 0 10%;
}

/*Portfolio*/

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: 1%;
}

section > article {
    position: relative;
	height: auto;
	max-width: 320px;
	background-color: transparent;
	margin: 1rem 10%;
	padding: 3%;
    margin-bottom: 2rem;
}

article > div:hover {
    opacity: 0.8;
    transition: all 100ms linear;
    transform:scale(1.05);
}

div > h3 {
    font-size: large;
    color: var(--neo-green);
    margin-bottom: 2rem;
}

div > p {
    font-size: small;
    color: var(--neo-green);
}


a > div {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--just-black);
    transition: all 100ms linear;
    opacity: 0;
}


a:hover > div {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 200ms linear;
}

a:hover > img {
	transform: scale(1.05);
	opacity: 0.5;
	transition: all 200ms linear;
}

a > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--just-black);
    border-width: 0.2rem;
	transition: all 200ms linear;
}
