@import 'style.config.module';


.fourthSectionDescription {
	text-align: center;
	margin: 25% 10%;
}

.fourthSectionDescription p {
	color: $off-white;
	margin: 3%;
	font-size: 1.45rem;
}

.fourthSectionDescription hr {
	border-color: $just-black;
	margin: 1rem 0rem;
    border-style: solid;
    border-width: 0.3rem;
	opacity: 50%;
}


.fourthSection > p {
	color: $off-white;
	text-align: center;
	font-size: x-large;
	margin: 0 6%;
}

.fourthSection > .final {
	margin: 3rem 0;
}

@media only screen and (min-width: $tablet-size) {


	.fourthSectionDescription {
		margin: 25% 20%;
	}

	.fourthSectionDescription p {
		font-size: 2rem;
	}


	.fourthSectionDescription hr {
		border-width: 0.4rem;
	}


	.fourthSection > p {
		font-size: xx-large;
	}

	.fourthSection > .final {
		margin-bottom: 5rem;
	}
	
}

@media only screen and (min-width: $desktop-size) {

	.fourthSectionDescription {
		margin: 25% 20%;
	}
	
	.fourthSectionDescription p {
		font-size: 4rem;
	}
	
	
	.fourthSectionDescription hr {
		border-width: 0.7rem;
	}
	
	
	.fourthSection > p {
		font-size: 5rem;
	}
	
	.fourthSection > .final {
		margin-bottom: 20rem;
	}
}