@import 'style.config.module';

.firstSection > img {
	width: 40vw;
	height: 40vw;
	display: block;
	margin-top: 7rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	-webkit-animation: loadProfile 1.4s ease-in-out alternate;
}


.firstSection div {
    display: flex;
    justify-content: space-between;
    margin: 5% 2%;
	align-items: center;
}


.firstSection article {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 2%;
	margin: 0 2%;
	border-radius: 4px;
	display: flex;
	align-items: center;
	width: 45vw;
	height: 300px
}

.firstSection article p {
    color: $off-white;
	font-size: 1.3rem;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}


.firstSection div, .firstSection article {
	-webkit-animation: loadProfile 1.4s ease-in-out alternate;
}

@media only screen and (min-width: $tablet-size) {

	.firstSection article p {
		font-size: medium;
	}

	.firstSection article {
		height: 300px;
	}

}

@media only screen and (min-width: $desktop-size) {
	

	.firstSection article {
		width: 50vw;
		height: 20vw;
	}
	

	.firstSection > img {
		width: 20vw;
		height: 20vw;
	}
	
	.firstSection article p {
		font-size: 2.2rem;
	}
}