$background-color: #121212; // Define background color
$dark-blue-craftech: #021C3A;
$detailed-dark-blue-craftech: #02132C;
$off-white: #f0f0f0; // Define text color
$light-blue-craftech: #2BB6C2;
$blue-sea-whale: #00546A;
$cake-red: #E26554;
$cherry-red: #951556;
$simple-blue: #0099FF;

$neo-green: #39ff14;
$deep-blue: #00008b;
$purple-rain: #67159b;

$just-black: #121010;

$tablet-size: 768px;
$desktop-size: 1024px;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: $dark-blue-craftech;
}

html {
	font-size: 62.5%;
	font-family: 'Nunito', sans-serif; 
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	overflow-x: hidden;
}