
$saturate-pink: #FF00FC;
$deep-blue: #2B3595;
$sweet-purple: #7045AF;
$cake-red: #E94560;
$low-red: #7B113A;
$club-penguin-blue: #16213E; 
$polar-blue: #0F3460;
$cold-water: #8FD6E1;
$ice-blue: #1597BB;
$dark-blue: #1B262C;
$blue-sky: #3282B8;
$purple-rain: #45056E;
$cherry-red: #951556;
$blue-sea: #0F4C75;
$extra-light-blue: #BBE1FA;
$just-black: #121010;
$soft-black: #1C1C1C;
$neo-green: #03DAC6;
$off-white: #FAFAFA;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'Nunito', sans-serif; 
	scroll-behavior: smooth;
}
