@import 'style.config.module';

.websiteProfileImage {
    width: 50vw;
	height: 50vw;
}

.websiteProfile > div, .websiteProfileImage, .websiteProfile {
	-webkit-animation: loadProfile 1.4s ease-in-out alternate;
}

.websiteProfile {
	padding: 3%;
	padding-top: 4rem;
	text-align: center;
}


.cvButton {
	display: block;
	width: 50%;
	margin: 10% auto; // Center align the button
	padding: 4%;
	border-style: solid;
	border-width: 0.3rem;
    border-color: $purple-rain;
	color: $off-white;
	border-radius: 6px;
	font-size: large;
    text-decoration: none;
	transition: all 100ms ease-in;
}

.cvButton::after {
	content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $purple-rain;
    z-index: -1;
    transition: width 150ms ease-in-out;
}

.cvButton:hover {
	background-color: $purple-rain;
	transition: all 100ms ease-in;
}

.cvButton:active {
	background-color: $off-white;
	color: $just-black;
}


@keyframes loadProfile {
	
	0% {
		margin-top: 6rem;
		opacity: 0;
	}

	100% {
		margin-top: 0rem;
		opacity: 100%;
	}
}


@media only screen and (min-width: $desktop-size) {
	
	.cvButton {
		width: 30%;
		margin: 0 auto 10rem auto; // Center align the button
		font-size: 5rem;
	}
	
	.websiteProfile {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.websiteProfileImage {
		display: block;
		width: 30vw;
		height: 30vw;
	}
	
}