@import 'style.config';

/*Posts*/

.websitePosts {
	height: auto;
}


.websitePostsDescription {
	color: var(--off-white);
	font-size: 1.2rem;
	padding: 20% 15% 3% 15%;
	text-align: center;
}

.websitePostsDescription p {
	font-weight: bolder;
	padding-bottom: 2%;
}

.websitePostsDescription hr {
	border-style: solid;
	border-color: var(--neo-green);
	border-width: 0.2rem;
	border-radius: 5px;
	margin-top: 0.5rem;
	margin-bottom: 3rem;
}
